.action {
  height: 27px;
  padding: 5px 6px;
  text-transform: capitalize;
  line-height: 17px;
  background-color: transparent;

  will-change: background-color;
  transition: background-color 0.3s;
}

.action:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.disabled {
  opacity: 0.3;
}

.disabled:hover {
  background-color: transparent;
  cursor: default;
}
