.widget {
  flex: 0 0 auto;
  max-width: 600px;
  min-width: 600px;

  border-radius: 5px;
  margin: 10px auto;
  background-color: #111;
  height: auto;
  padding: 30px 40px;
  font-size: 14px;
  position: relative;
}
